@import "_variables";
* {
  box-sizing: border-box;
}

body {
  height: 500vh;
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: white;
}

header {
  background-color: #ffffff;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  height: 155px;
  width: 100%;
  nav {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 8rem;
      padding-right: 8rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 1rem;
        margin-right: 1rem;
        &:hover {
          opacity: 0.2;
        }
        i {
          opacity: 0.5;
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        span {
          opacity: 0.5;
        }
      }
    }
  }
  .header__logo {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    img {
      width: 4rem;
    }
  }
}

main {
  background-color: white;
  height: 100vh;
  width: 100%;
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 155px;
    .banner-grid {
      width: 100%;
      padding-left: 8rem;
      padding-right: 8rem;
      .banner__images {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        .banner__image {
          img {
            width: 100%;
          }
        }
      }
      .banner__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .banner__category {
          margin-bottom: 3rem;
          color: rgba(0, 0, 0, 0.5);
          span {
            font-size: 0.5rem;
            font-weight: 600;
          }
        }
        .banner__title {
          width: 440px;
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: 3rem;

          p {
            width: 440px;
            text-align: center;
            font-size: 2rem;
            font-weight: 300;
            font-style: italic;
          }
        }
        .banner__button {
          color: rgba(0, 0, 0, 0.6);
          font-weight: 600;
          display: grid;
          grid-template-columns: 80% 20%;
          align-items: center;
          width: 240px;
          height: 55px;
          margin-top: 65px;
          text-align: center;
          font-size: 0.8rem;
          border: 2px solid rgba(0, 0, 0, 0.5);

          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            color: rgba(255, 255, 255, 0.7);
          }
          .button-text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-right: 1.5px solid rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    .banner {
      position: relative;
      width: 100%;
      padding-left: 8rem;
      padding-right: 8rem;
      .banner__images {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .banner__image {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          width: 100%;
        }

        .banner__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
          color: white;
          .banner__category {
            margin-bottom: 3rem;
            span {
              font-size: 0.5rem;
              font-weight: 600;
            }
          }
          .banner__title {
            width: 440px;
            margin-bottom: 3rem;
            h1 {
              font-size: 2.5rem;
              font-weight: 300;
              font-style: italic;
            }
          }
          .banner__button {
            display: flex;
            align-items: center;
            text-align: center;
            width: fit-content;
            height: fit-content;
            font-size: 0.6rem;
            border: 2px solid white;
            padding: 20px 80px;
            &:hover {
              background-color: white;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
        .banner__content-black {
          color: black;
          .banner__button {
            border: solid 1.2px black;
            &:hover {
              background-color: rgba(0, 0, 0, 0.8);
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }

    .product {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: $paintBoxColor;
      .product__category {
        font-size: $paintBoxCategory;
        margin-bottom: 20px;
      }
      .product__title {
        font-size: $paintBoxTitle;
      }
      .product__tiles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .product__tile {
          cursor: pointer;
          &:hover {
            .img1 {
              display: none;
            }
            .img2 {
              display: inline;
            }
          }
          .img2 {
            display: none;
          }
          .product__title {
            margin-bottom: 20px;
          }
          .product__price {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.6);
            margin-bottom: 30px;
          }
          .product__button {
            padding: 20px 40px;
            margin: 0 10px;
            border: solid 1px black;
            font-size: 15px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.7);
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }
  }
}
